@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body{
  background: linear-gradient(90deg, rgba(26,54,208,1) 0%, rgba(147,71,226,1) 100%);
  color: whitesmoke;
  font-family: 'Varela Round', sans-serif;
  font-size: 4rem;
}

#root{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#botones{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

p, h1{
  text-align: center;
}

button{
  background-color: transparent;
  color: whitesmoke;
  padding: .5rem;
  font-size: 2rem;
  border: 0.1rem solid white;
  outline: none;
}

button:hover{
  cursor: pointer;
}

button:active{
  background-color: #9c27b0;
}

@media only screen and (max-width: 700px) {
  #root{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
}